<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= link_to "RRHH", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% if current_user.user_type == 'administrator' || current_user.user_type == 'manager' %>
            <li class="nav-item">
              <%= link_to "Empleados", employees_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Horarios", schedules_path, class: "nav-link" %>
            </li>
          <% elsif current_user.user_type == 'employee' %>
            <li class="nav-item">
              <%= link_to "Mis Horarios", employee_path(current_user.employee), class: "nav-link" %>
            </li>
          <% end %>
        <% end %>
      </ul>
      
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
              <%= current_user.name %> (<%= current_user.user_type %>)
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Iniciar Sesión", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Registrarse", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>